<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://code.alibabatech.com/schema/dubbo
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--开启注解扫描-->
    <context:component-scan base-package="com.zmy.web"/>

    <!--视图解析器InternalResourceViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--3. 注解驱动（自动创建处理器映射器、处理器适配器、还可以配置类型转换器）-->
    <mvc:annotation-driven conversion-service="conversionServiceFactory"/>

    <!--4..配置日期转换工厂-->
    <bean id="conversionServiceFactory" class="org.springframework.context.support.ConversionServiceFactoryBean">

        <property name="converters">
            <set>
                <bean class="com.zmy.web.converter.StringToDateConverter"/>
            </set>
        </property>
    </bean>

    <!--配置文件上传解析器-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <context:property-placeholder location="classpath*:properties/qiniu.properties"/>

    <!--5.开启aop注解支持-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--6.dubbo支持-->
    <!--6.1 客户端项目名称-->
    <dubbo:application name="export-web-manager">
        <dubbo:parameter key="qos.enable" value="false"></dubbo:parameter>
    </dubbo:application>

    <!--6.2 配置注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.56.128:2181"/>

    <!--6.3 dubbo注解扫描-->
    <dubbo:annotation package="com.zmy.web.controller"/>

</beans>